.banner {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $background-light;

  &--index-top {
    padding-top: 40px;
    padding-bottom: 27px;
  }

  &--index-top::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 37px;
    bottom: -15px;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320px' height='37px' viewBox='0 12.452 320 37'%3E%3Cpolygon fill='%23ffffff' points='320,12.452 0,12.452 0,34.175 160,49.452 320,34.175 '/%3E%3C/svg%3E%0A");
    background-position: bottom center;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  &--top {
    padding-top: 35px;
    padding-bottom: 25px;
    border-bottom: 2px solid #fafafa;
  }
}

.banner__title {
  width: 255px;
  display: block;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 700;
  color: $text-front;
  margin-bottom: 25px;
}

.banner__subtitle {
  width: 270px;

  @include reset;
  font-size: 1.4rem;
  line-height: 1.8;
  color: $text-base;
}

@media (min-width: $tablet-width) {
  .banner {
    &--index-top {
      padding-top: 50px;
      padding-bottom: 55px;
    }

    &--top {
      padding-top: 75px;
      padding-bottom: 65px;
      border-bottom: none;
    }
  }

  .banner__title {
    &--small {
      width: 440px;
      font-size: 2.1rem;
      line-height: 1.2;
      margin-bottom: 30px;
    }

    &--large {
      width: 325px;
      font-size: 3em;
      line-height: 1;
      margin-bottom: 30px;
    }
  }

  .banner__subtitle {
    width: 490px;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    &--top {
      padding-top: 110px;
      padding-bottom: 70px;
    }
  }
}
