.nav-main {
  width: 100%;
  position: relative;
  background-color: inherit;

  &--closed {
    .nav-main__toggle {
      width: 23px;
      height: 22px;
      top: 17px;
      right: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.928px' height='21.982px' viewBox='0 0 22.928 21.982' fill='%2381b3d2'%3E%3Cg%3E%3Crect width='22.928' height='3.964'/%3E%3Crect y='9.009' width='22.928' height='3.964'/%3E%3Crect y='18.018' width='22.928' height='3.964'/%3E%3C/g%3E%3C/svg%3E");
    }

    .nav-main__logo {
      &--index {
        top: 0;
      }

      &--bottom {
        top: 175px;
      }
    }

    .nav-main__item {
      display: none;
    }
  }

  &--opened {
    .nav-main__list {
      &--over {
        position: absolute;
        width: 100%;
        top: -48px;
        left: 0;
        z-index: 2;
      }
    }

    .nav-main__item {
      display: block;
    }

    .nav-main__toggle {
      width: 23px;
      height: 22px;
      top: -205px;
      right: -2px;
      background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.199 22.199' width='22.199' height='22.199'%3E%3Cpath d='M22.199 2.804L19.396 0 11.1 8.297 2.804 0 0 2.803 8.297 11.1 0 19.396l2.803 2.803 8.297-8.297 8.296 8.297 2.803-2.803-8.296-8.296z' fill='%23fff'/%3E%3C/svg%3E");
    }

    .nav-main__logo {
      &--index {
        top: 223px;
      }

      &--bottom {
        top: 175px;
      }
    }

    .nav-main__back {
      &--under {
        margin-top: 48px;
      }
    }
  }
}

.nav-main__logo {
  display: block;
  position: absolute;
  width: 102px;
  height: 83px;
  left: calc(50% - 102px / 2);
  z-index: 5;
}

.nav-main__list {
  width: 100%;
  position: relative;

  @include reset-list-style;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    z-index: 2;
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.4), inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
  }
}

.nav-main__item {
  width: 100%;
  text-align: center;
  background-color: $accent-base;

  @include reset-list-style;
}

.nav-main__link {
  display: block;
  padding-top: 9px;
  padding-bottom: 10px;
  font-size: 1.8rem;
  line-height: 2.1;
  font-weight: 700;
  color: $primary-light;
  text-decoration: none;
  background-color: inherit;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  transition: 500ms;

  &[href]:hover,
  &[href]:focus {
    background-color: $accent-dark;
  }

  &[href]:active {
    background-color: $accent-darker;
    color: rgba($primary-light, 0.3);
  }
}

.nav-main__back {
  width: 100%;
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: auto auto;
  background-repeat: no-repeat;
  background-color: #e4f1f9;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 768px auto;
  }

  &--index {
    min-height: 390px;
    background-position: center 55px;
    padding-bottom: 55px;
  }

  &--under {
    min-height: 390px;
    background-position: center 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 26px;
    bottom: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320px' height='26.111px' viewBox='440.469 30.889 320 26.111'%3E%3Cpolygon fill='%23FFFFFF' points='760.469,57 760.469,30.889 599.955,57'/%3E%3Cpolygon fill='%23FFFFFF' points='440.469,57 599.955,57 440.469,31.056'/%3E%3C/svg%3E%0A");
    background-position: bottom center;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.nav-main__row {
  width: 100%;
  height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: $background-light;

  &--bottom {
    position: absolute;
    top: 176px;
    left: 0;
    right: 0;
    z-index: 4;
  }
}

.nav-main__inner {
  position: relative;
  width: 280px;
}

.nav-main__toggle {
  position: absolute;
  background-position: 0 0;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-color: transparent;
  z-index: 10;
  border: none;
  cursor: pointer;
}

.nav-main__img {
  position: absolute;

  &--index {
    width: 282px;
    height: 214px;
    top: 145px;
    left: calc(50% - 282px / 2);
  }

  &--small {
    width: 229px;
    height: 39px;
    bottom: 70px;
    left: calc(50% - 229px / 2);
  }
}

@media (max-width: $mobile-width-only) {
  .nav-main {
    &--closed {
      .nav-main__item {
        display: none;
      }
    }

    /*стили без js*/
    &--nojs {
      .nav-main__toggle {
        display: none;
      }

      .nav-main__logo {
        &--index {
          top: 223px;
        }

        &--bottom {
          top: 175px;
        }
      }

      .nav-main__list {
        &--over {
          position: absolute;
          width: 100%;
          top: -48px;
          left: 0;
          z-index: 2;
        }
      }

      .nav-main__row {
        &--bottom {
          top: 175px;
        }
      }

      .nav-main__back {
        &--under {
          margin-top: 48px;
        }
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .nav-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &--closed {
      .nav-main__logo {
        &--bottom {
          top: 0;
        }
      }

      .nav-main__item {
        display: block;
      }
    }

    &--opened {
      .nav-main__logo {
        &--index {
          top: 0;
        }

        &--bottom {
          top: 0;
        }
      }

      .nav-main__list {
        &--over {
          position: relative;
          top: 0;
        }
      }

      .nav-main__item {
        display: block;
      }

      .nav-main__back {
        &--under {
          margin-top: 0;
        }
      }
    }
  }

  .nav-main__list {
    width: $tablet-width;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;

    &::before {
      width: 0;
      height: 0;
      box-shadow: none;
    }
  }

  .nav-main__item {
    width: 20%;
    background-color: inherit;

    &:nth-child(2) {
      margin-right: 20%;
    }
  }

  .nav-main__link {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.4rem;
    line-height: 2;
    font-weight: 700;
    color: $text-front;
    background-color: inherit;
    box-shadow: none;
    transition: 500ms;

    &[href]:hover,
    &[href]:focus {
      color: $accent-darker;
      background-color: transparent;
    }

    &[href]:active {
      color: rgba($text-front, 0.3);
    }

    &:not([href]) {
      color: $primary-active;
      font-weight: 700;
    }

    &:hover:not([href]) {
      color: $primary-active-dark;
    }

    &:active:not([href]) {
      color: rgba($primary-active-dark, 0.3);
    }
  }

  .nav-main__row {
    display: none;
  }

  .nav-main__back {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    padding-bottom: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }

    &--index {
      min-height: 518px;
      background-position: center 0;
    }

    &--under {
      min-height: 290px;
      background-position: center -225px;
      margin-top: 0;
    }

    &::before {
      height: 57px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1200px' height='57px' viewBox='0 0 1200 57'%3E%3Cg%3E%3Cpolygon fill='%23ffffff' points='250,24 0,0 0,57 250,57 600,57 250,0'/%3E%3Cpolygon fill='%23ffffff' points='951,24 951,0 600,57 951,57 1200,57 1200,0'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
  }

  .nav-main__img {
    position: absolute;

    &--index {
      width: 460px;
      height: 350px;
      top: 77px;
      left: calc(50% - 460px / 2);
    }

    &--small {
      width: 458px;
      height: 78px;
      bottom: 115px;
      left: calc(50% - 458px / 2);
    }
  }
}

@media (min-width: $desktop-width) {
  .nav-main__logo {
    left: calc(50% - 188px / 2);

    img {
      width: 188px;
      height: 96px;
    }
  }

  .nav-main__list {
    width: $desktop-width;
  }

  .nav-main__back {
    &--under {
      min-height: 290px;
      background-image: url("../img/bg-back-desktop@1x.jpg");
      background-position: center bottom;
      background-size: cover;
      padding-bottom: 12px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-back-desktop@2x.jpg");
        background-size: 1200px auto;
      }
    }
  }

  .nav-main__img {
    &--small {
      bottom: 120px;
    }
  }
}
