.brands {
  width: 100%;
  background-color: $background-light;
  padding-top: 50px;
  padding-bottom: 60px;
}

.brands__container {
  width: 87.5%; /*280 / 320*/
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brands__title {
  width: 180px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: $text-dark;
  margin-bottom: 20px;
}

.brands__text {
  display: none;
}

.brands__list {
  position: relative;
  width: 225px;
  width: 80.35714285714286%;/*225 / 280/*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;

  &::before {
    position: absolute;
    content: "";
    width: 226px;
    height: 1px;
    background-color: $secondary;
    top: 0;
    left: calc(50% - 226px / 2);
  }

  &::after {
    position: absolute;
    content: "";
    width: 226px;
    height: 1px;
    background-color: $secondary;
    bottom: 0;
    left: calc(50% - 226px / 2);
  }
}

.brands__item {
  position: relative;
  margin-bottom: 40px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: -35px;
    left: calc(50% - 30px / 2);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 49.94 49.94' fill='%2314d000'%3E%3Cpath d='M48.856 22.73a3.56 3.56 0 00.906-3.671 3.56 3.56 0 00-2.892-2.438l-12.092-1.757a1.58 1.58 0 01-1.19-.865L28.182 3.043a3.56 3.56 0 00-3.212-1.996 3.56 3.56 0 00-3.211 1.996L16.352 14c-.23.467-.676.79-1.191.865L3.069 16.622A3.56 3.56 0 00.177 19.06a3.56 3.56 0 00.906 3.671l8.749 8.528c.373.364.544.888.456 1.4L8.224 44.701a3.506 3.506 0 00.781 2.904c1.066 1.267 2.927 1.653 4.415.871l10.814-5.686a1.619 1.619 0 011.472 0l10.815 5.686a3.544 3.544 0 001.666.417c1.057 0 2.059-.47 2.748-1.288a3.505 3.505 0 00.781-2.904l-2.065-12.042a1.582 1.582 0 01.456-1.4l8.749-8.529z'/%3E%3C/svg%3E");
    background-position: 0 0;
    background-size: 30px 30px;
    background-color: transparent;
  }

  &:last-of-type {
    margin-bottom: 25px;
  }
}

.brands__link {
  display: block;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: rgba($text-dark, 0.6);
}

@media (min-width: $tablet-width) {
  .brands {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .brands__container {
    width: 89.58333333333333%;/*688 / 768*/
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .brands__title {
    position: relative;
    width: 30%;
    text-align: left;
    font-size: 2.9rem;
    margin-bottom: 0;

    span {
      display: none;
    }

    &::before {
      position: absolute;
      content: "";
      width: 97px;
      height: 97px;
      top: 60px;
      left: 20px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 483.85 483.85'%3E%3Cpath d='M471.325 211.856l-56.9-56.9c-23.4-23.4-9.1-48.1 16.4-49.6 42-2.6 65.6-47.4 31.3-84.7-37.3-34.2-81.9-10.7-84.5 31.2-1.6 25.5-26.5 39.9-49.8 16.6l-55.7-55.7c-16.7-16.7-43.8-16.7-60.5 0l-56.4 56.4c-23.4 23.4-48.2 8.9-49.8-16.6-2.6-42-47.6-65.9-84.9-31.6-34.4 37.4-10.5 82.4 31.5 85 25.5 1.6 40 26.5 16.7 49.9l-56.2 56.1c-16.7 16.7-16.7 43.8 0 60.5l55.7 55.7c23.4 23.3 9.5 47.6-16 49.2-42 2.6-65.5 47.3-31.2 84.6 37.3 34.3 81.8 10.9 84.4-31.1 1.6-25.5 26-39.5 49.4-16.2l56.2 56.2c17 17 44.8 17 61.8.1l39.4-39.4 16.9-16.9c22.1-23.1 7.8-47.4-17.4-49-42-2.6-65.8-47.6-31.5-84.9 37.3-34.3 82.3-10.4 84.9 31.6 1.6 25.2 25.8 39.4 48.9 17.3l15.3-15.3 41.2-41.2.2-.2.6-.6c16.7-16.7 16.7-43.8 0-60.5z' fill='%2314d000'/%3E%3C/svg%3E%0A");
      background-size: 97px 97px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-color: transparent;
    }
  }

  .brands__text {
    display: block;
    box-sizing: border-box;
    width: 67%;
    font-size: 1.8rem;
    line-height: 1.5;
    color: $text-darkness;
    order: 1;
    margin-left: 30%;
  }

  .brands__list {
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 15px;

    &::before {
      display: none;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $secondary;
      bottom: 0;
      left: 0;
    }
  }

  .brands__item {
    margin-bottom: 20px;

   &::before {
      width: 20px;
      height: 20px;
      top: calc(50% - 20px / 2);
      left: -25px;
      background-size: 20px 20px;
    }

    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  .brands__link {
    font-size: 2.7rem;
  }
}

@media (min-width: $desktop-width-1152) {
  .brands {
    padding-top: 70px;
    padding-bottom: 105px;
  }

  .brands__container {
    width: 92.1875%;/*1062 / 1125*/
    width: 1062px;
  }

  .brands__title {
    width: 26%;
    font-size: 4.2rem;
    margin-top: 60px;
    margin-left: 30px;

    &::before {
      display: none;
    }
  }

  .brands__text {
    width: 55%;
    margin-left: 42.8%;
  }

  .brands__list {
    width: 55%;
    margin-right: 25px;
    margin-bottom: 0;
  }

  .brands__item {
    margin-bottom: 15px;

    &::before {
      width: 25px;
      height: 25px;
      top: 5px;
      left: -35px;
      background-size: 25px 25px;
     }

     &:last-of-type {
       margin-bottom: 15px;
     }
  }

  .brands__link {
    font-size: 2.8rem;

  }
}

@media (min-width: $desktop-width-1440) {
  .brands {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .brands__container {
    width: 1320px;
  }

  .brands__title {
    width: 26%;
    font-size: 4.8rem;
    margin-left: 60px;
  }

  .brands__text {
    width: 53%;
    font-size: 2.1rem;
    margin-left: 45%;
  }

  .brands__list {
    width: 51%;
    margin-right: 50px;
  }

  .brands__item {
    margin-bottom: 20px;

    &::before {
      width: 30px;
      height: 30px;
      top: 0px;
      left: -40px;
      background-size: 30px 30px;
     }

     &:last-of-type {
       margin-bottom: 20px;
     }
  }

}
