.brands {
  width: 100%;
  background-color: $background--light;
  padding-top: 40px;
  padding-bottom: 50px;
}

.brands__container {
  width: 87.5%; /*280 / 320*/
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brands__title {
  width: 180px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: $text-dark;
  margin-bottom: 20px;
}

.brands__text {
  display: none;
}

.brands__list {
  position: relative;
  width: 225px;
  width: 80.35714285714286%;/*225 / 280/*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $secondary;
    top: 0;
    left: 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $secondary;
    bottom: 0;
    left: 0;
  }
}

.brands__item {
  position: relative;
  margin-bottom: 25px;

  &::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-color: $background;
    border-radius: 50px;
    bottom: -19px;
    left: calc(50% - 12px / 2);
  }

  &:last-child::before {
    display: none;
  }
}

.brands__link {
  display: block;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: rgba($text-dark, 0.5);
}

@media (min-width: $tablet-width) {
  .brands {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .brands__container {
    width: 89.58333333333333%;/*688 / 768*/
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .brands__title {
    position: relative;
    width: 30%;
    text-align: left;
    font-size: 2.9rem;
    margin-bottom: 0;

    span {
      display: none;
    }

    &::before {
      position: absolute;
      content: "";
      width: 97px;
      height: 97px;
      top: 60px;
      left: 20px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 483.85 483.85'%3E%3Cpath d='M471.325 211.856l-56.9-56.9c-23.4-23.4-9.1-48.1 16.4-49.6 42-2.6 65.6-47.4 31.3-84.7-37.3-34.2-81.9-10.7-84.5 31.2-1.6 25.5-26.5 39.9-49.8 16.6l-55.7-55.7c-16.7-16.7-43.8-16.7-60.5 0l-56.4 56.4c-23.4 23.4-48.2 8.9-49.8-16.6-2.6-42-47.6-65.9-84.9-31.6-34.4 37.4-10.5 82.4 31.5 85 25.5 1.6 40 26.5 16.7 49.9l-56.2 56.1c-16.7 16.7-16.7 43.8 0 60.5l55.7 55.7c23.4 23.3 9.5 47.6-16 49.2-42 2.6-65.5 47.3-31.2 84.6 37.3 34.3 81.8 10.9 84.4-31.1 1.6-25.5 26-39.5 49.4-16.2l56.2 56.2c17 17 44.8 17 61.8.1l39.4-39.4 16.9-16.9c22.1-23.1 7.8-47.4-17.4-49-42-2.6-65.8-47.6-31.5-84.9 37.3-34.3 82.3-10.4 84.9 31.6 1.6 25.2 25.8 39.4 48.9 17.3l15.3-15.3 41.2-41.2.2-.2.6-.6c16.7-16.7 16.7-43.8 0-60.5z' fill='%2314d000'/%3E%3C/svg%3E%0A");
      background-size: 97px 97px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-color: transparent;
    }
  }

  .brands__text {
    display: block;
    box-sizing: border-box;
    width: 67%;
    font-size: 1.8rem;
    line-height: 1.5;
    color: $text-darkness;
    order: 1;
    margin-left: 32%;
  }

  .brands__list {
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 15px;

    &::before {
      display: none;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $secondary;
      bottom: 0;
      left: 0;
    }
  }

  .brands__item {
    margin-bottom: 20px;

    &::before {
      top: calc(50% - 12px / 2);
      left: 110%;
    }
  }

  .brands__link {
    font-size: 2.7rem;
  }
}

@media (min-width: $desktop-width-1152) {
  .brands {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .brands__container {
    width: 92.1875%;/*1062 / 1125*/
  }

  .brands__title {
    width: 26%;
    font-size: 4.8rem;
    margin-top: 70px;
    margin-left: 10%;

    &::before {
      display: none;
    }
  }

  .brands__text {
    width: 55%;
    margin-left: 42.8%;
  }

  .brands__list {
    width: 55%;
    margin-right: 25px;
    margin-bottom: 0;
  }

  .brands__item {
    margin-bottom: 15px;
  }

  .brands__link {
    font-size: 3.2rem;
  }
}

@media (min-width: $desktop-width-1440) {
  .brands {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .brands__container {
    width: 1320px;
  }

  .brands__title {
    width: 26%;
    font-size: 4.8rem;
    margin-top: 70px;
    margin-left: 10%;
  }

  .brands__text {
    width: 55%;
    font-size: 1.9rem;
    margin-left: 45%;
  }

  .brands__list {
    width: 52%;
    margin-right: 40px;
  }
  
  .brands__item {
    margin-bottom: 20px;

    &::before {
      left: 122%;
    }
  }
}
