.catalog {
  width: 100%;
  padding-top: 50px;
  background-color: $background--light
}

.catalog__container {
  width: 87.5%; /*280 / 320*/
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__title {
  width: 110px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  color: $text-dark;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.catalog__filter {
  width: 87.5%; /*280 / 320*/
  width: 280px;
  background-color: $background;
  border-radius: 5px;
}

.catalog__filter-row {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__filter-menu {
  display: none;

}

.catalog__filter-menu--opened {
  display: block;
}

.catalog__filter-sort {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: $text-light;
  text-transform: uppercase;
}

.catalog__btn {
  width: 19px;
  height: 11px;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='451.847' height='451.847' viewBox='0 0 451.847 451.847' fill='%23ecf0f3'%3E%3Cpath d='M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z'/%3E%3C/svg%3E%0A");
  background-size: 19px 11px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}
