.features {
  width: 100%;
  padding-top: 55px;
  padding-bottom: 25px;
  background-color: $background;
}

.features__container {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  width: 80%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: $text-light;
  margin-bottom: 65px;
}

.features__list {
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
  margin-bottom: 28px;
}

.features__item {
  position: relative;
  margin-bottom: 57px;

  &--assortment::before {
    position: absolute;
    content: "";
    width: 29px;
    height: 29px;
    top: -36px;
    left: 0;
    background-image: url("../img/jigsaw.svg");
    background-size: 29px 29px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
  }

  &--delivery::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    top: -36px;
    left: 0;
    background-image: url("../img/puzzle-bag.svg");
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
  }

  &--service::before {
    position: absolute;
    content: "";
    width: 29px;
    height: 29px;
    top: -36px;
    left: 0;
    background-image: url("../img/puzzle-hand.svg");
    background-size: 29px 29px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
  }
}

.features__text {
  width: 250px;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.4;
  color: $text-light;

  span {
    display: block;
  }
}

.features__notice {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__notice-text {
  width: 275px;
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.3;
  color: $text-light;
  margin-bottom: 30px;

  &::before {
    position: absolute;
    content: "";
    width: 37px;
    height: 37px;
    top: -50px;
    left: calc(50% - 37px / 2);
    background-image: url("../img/puzzle-email.svg");
    background-size: 37px 37px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .features__container {
    width: 89.58333333333333%;/*688 / 768*/
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .features__title {
    position: relative;
    font-size: 2.9rem;
    margin-bottom: 115px;
    margin-right: auto;
    margin-left: auto;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 80px;
  }

  .features__item {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 77px;

    &:last-of-type {
      width: 100%;
      margin-bottom: 0;
    }

    &--assortment::before,
    &--delivery::before,
    &--service::before {
      width: 52px;
      height: 52px;
      top: -65px;
      left: calc(50% - 52px / 2);
      background-size: 52px 52px;
    }
  }

  .features__text {
    text-align: center;
  }

  .features__notice {
    width: 84%;/*529px / 688px*/
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 35px;
  }


  .features__notice-text {
    width: 270px;
  }
}

@media (min-width: $desktop-width-1152) {
  .features {
    padding-top: 60px;
    padding-bottom: 45px;
  }

  .features__container {
    width: 92.1875%;/*1062 / 1125*/
  }

  .features__title {
    font-size: 3.1rem;
    margin-bottom: 145px;
  }

  .features__list {
    margin-bottom: 95px;
  }

  .features__item {
    width: 33.33333333333333%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;

    &--assortment::before,
    &--delivery::before,
    &--service::before {
      width: 68px;
      height: 68px;
      top: -88px;
      left: calc(50% - 68px / 2);
      background-size: 68px 68px;
    }

    &:not(:first-child) {
      width: 33.33333333333333%;
    }
  }

  .features__text {
    text-align: center;
    width: 320px;
    font-size: 2.1rem;
  }

  .features__notice {
    width: 57%;
    margin-right: auto;
    margin-left: auto;
  }

}

@media (min-width: $desktop-width-1440) {
  .features {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .features__container {
    width: 1320px;
  }

  .features__title {
    font-size: 3.6rem;
    margin-bottom: 135px;
  }


  .features__list {
    margin-bottom: 85px;
  }

  .features__notice {
    width: 54%;
  }

  .features__notice-text {
    width: 325px;
    font-size: 2.1rem;
  }
}
