.header-main {
  width: 100%;
  background-color: $background;
}

.header-main__bg {
  width: 100%;
}

@media (min-width: $desktop-width-1152) {
  .header-main {
    background-image:linear-gradient(to left, $background 41%, $background 59%, $background--light 40%, $background--light 60%);
  }

  .header-main__bg {
    background-image: url("../img/1152-bg-desktop@1x.jpg");
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: left top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/1152-bg-desktop@2x.jpg");
      background-size: 480px 700px;
    }
  }
}

@media (min-width: $desktop-width-1440) {
  .header-main {
    background-image:linear-gradient(to left, $background 42.5%, $background 57.5%, $background--light 40%, $background--light 60%);
  }

  .header-main__bg {
    width: 1440px;
    background-image: url("../img/1440-bg-desktop@1x.jpg");
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: left top;
    outline: 4px solid green;
    margin-right: auto;
    margin-left: auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/1440-bg-desktop@2x.jpg");
      background-size: 480px 700px;
    }
  }
}
