.header-main {
  width: 100%;
  background-color: $background;
}

@media (min-width: $desktop-width-1152) {
  .header-main {
    background-image:linear-gradient(to left, $background 45%, $background 55%, $background--light 40%, $background--light 60%);
  }
}

@media (min-width: $desktop-width-1440) {
 .header-main {

   background-image: linear-gradient(to left, $background 40%, $background 60%, red 40%, red 60%);







    /*@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/1440-bg-desktop@2x.jpg"),linear-gradient(to left, $background 40%, $background 60%, $background--light 40%, $background--light 60%);
      background-size:  590px 745px;
    }*/
  }
}
