.nav-menu {
  width: 100%;
}

.nav-menu__item {
  text-align: center;
  margin-bottom: 15px;
}

.nav-menu__link {
  position: relative;
  display: block;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: $text-dark;
  transition: 180ms;

  &:not([href]) {
    color: $accent;
  }
  &:not([href]):active {
    color: $accent;
  }

  &:hover,
  &:focus {
    color: $accent;
  }

  &:active {
    color: rgba($text-dark, 0.2);
  }
}
