.nav-main {
  width: 100%;
}

.nav-main__combobox {
  width: 100%;
  padding-top: 20px;
  z-index: 2;
}

.nav-main__container {
  width: 87.5%;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}

.nav-main__bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.nav-main__logo svg {
  width: 96px;
  height: 14px;
}

.nav-main--closed .nav-main__toggle {
  position: relative;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg height='32' width='32' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M4 10h24a2 2 0 000-4H4a2 2 0 000 4zm24 4H4a2 2 0 000 4h24a2 2 0 000-4zm0 8H4a2 2 0 000 4h24a2 2 0 000-4z' fill='%23ecf0f3'/%3E%3C/svg%3E%0A");
    background-position: 0 0;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.nav-main--opened .nav-main__toggle {
  position: relative;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;

  &::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 47.971 47.971'%3E%3Cpath d='M28.228 23.986L47.092 5.122a2.998 2.998 0 000-4.242 2.998 2.998 0 00-4.242 0L23.986 19.744 5.121.88a2.998 2.998 0 00-4.242 0 2.998 2.998 0 000 4.242l18.865 18.864L.879 42.85a2.998 2.998 0 104.242 4.241l18.865-18.864L42.85 47.091c.586.586 1.354.879 2.121.879s1.535-.293 2.121-.879a2.998 2.998 0 000-4.242L28.228 23.986z' fill='%2d3237'/%3E%3C/svg%3E%0A");
    background-position: 0 0;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.nav-main__cart {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid $secondary;
  background-color: $primary-light;
  margin-right: auto;
  margin-left: auto;

  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: calc(50% - 25px / 2);
    left: calc(50% - 25px / 2);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 517.945 517.945'%3E%3Cpath d='M428.51 110.435h-97.193V72.312C331.317 32.441 298.892 0 259.013 0c-39.871 0-72.312 32.441-72.312 72.312v38.123H89.427l-17.818 407.51h374.727l-17.826-407.51zM202.975 72.304c0-30.889 25.158-56.038 56.047-56.038 30.88 0 56.006 25.158 56.006 56.038v38.123H202.975V72.304z' fill='%2d3237'/%3E%3C/svg%3E%0A");
    background-position: 0 0;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

@media (max-width: $mobile-width-only) {
  .nav-main--closed .nav-menu {
    display: none;
  }

  .nav-main--closed .nav-user {
    display: none;
  }

  .nav-main--opened .nav-main__combobox, {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 25px;
    padding-bottom: 80px;
    background-color: $primary-light;
  }

  .nav-main--opened .nav-main__cart,
  .nav-main--nojs .nav-main__cart {
    margin-bottom: 30px;
  }

  .nav-main--opened  .nav-main__list-menu,
  .nav-main--nojs  .nav-main__list-menu {
    margin-bottom: 90px;
  }

  .nav-main--nojs .nav-main__combobox {
    position: static;
    background-color: $primary-light;
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .nav-main--nojs .nav-main__bar {
    margin-bottom: 25px;
  }

  .nav-main--nojs .nav-main__toggle {
    display: none;
  }

  .nav-main--nojs .nav-menu {
    display: block;
  }

  .nav-main--nojs .nav-main__list-user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
