.nav-menu {
  width: 100%;
  outline: 2px solid red;
}

.nav-menu__item {
  text-align: center;
  margin-bottom: 15px;
}

.nav-menu__link {
  position: relative;
  display: block;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: $text-dark;
  transition: 180ms;

  &:not([href]) {
    color: $accent;
  }
  &:not([href]):active {
    color: $accent;
  }

  &:hover,
  &:focus {
    color: $accent;
  }

  &:active {
    color: rgba($text-dark, 0.2);
  }
}

@media (min-width: $tablet-width) {
  .nav-menu {
    width: 74.7093023255814%;/*514 / 688*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-menu__item {
    margin-bottom: 0;
  }

  .nav-menu__link {
    font-size: 1.6rem;
    font-weight: 700;
    color: $text-light;
    padding-bottom: 2px;

    &:not([href]) {
      color: $accent;
      border-bottom: 1px solid $primary-light;
    }
    &:not([href]):active {
      color: $accent;
    }

    &:hover,
    &:focus {
      color: $accent;
    }

    &:active {
      color: rgba($primary-light, 0.2);
        border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width-1152) {
  .nav-menu {
    width: 54.51977401129944%;/*579 / 1062*/
  }
}

@media (min-width: $desktop-width-1440) {
  .nav-menu {
    width: 43.86363636363636%;/*579px / 1320px*/
    margin-right: 130px;
  }
}
