.nav-menu {
  width: 100%;
}

.nav-menu__item {
  text-align: center;
  margin-bottom: 15px;
}

.nav-menu__link {
  display: block;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: $text-dark;
  overflow: hidden;
  transition: 180ms;

  &:not([href]) {
    color: $accent;
    cursor: default;
  }
  &:not([href]):active {
    color: $accent;
  }

  &:hover,
  &:focus {
    color: $accent;
  }

  &:hover .nav-menu__decor {
    transform: translateY(-100%);
  }

  &:active {
    color: rgba($accent, 0.3);
  }
}

.nav-menu__decor {
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
  display: inline-block;
  transition: transform 0.3s;

  &::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: $tablet-width) {
  .nav-menu {
    /*width: 78.19767441860465‬%;*/
    width: 538px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    outline: 2px solid red;
    background-color: darkseagreen;
  }

  .nav-menu__item {
    margin-bottom: 0;
  }

  .nav-menu__link {
    font-size: 1.6rem;
    font-weight: 700;
    color: $text-light;
  }

}
