.nav-main {
  width: 100%;
}

.nav-main__combobox {
  width: 100%;
  padding-top: 20px;
  z-index: 2;
}

.nav-main__container {
  width: 87.5%; /*280px / 320px*/
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-main__bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.nav-main__logo svg {
  width: 96px;
  height: 14px;
}

.nav-main__cart {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid $secondary;
  background-color: $primary-light;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  transition: 180ms;

  &:hover,
  &:focus {
    background-color: $accent-strong;
  }

  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: calc(50% - 25px / 2);
    left: calc(50% - 25px / 2);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 517.945 517.945'%3E%3Cpath d='M428.51 110.435h-97.193V72.312C331.317 32.441 298.892 0 259.013 0c-39.871 0-72.312 32.441-72.312 72.312v38.123H89.427l-17.818 407.51h374.727l-17.826-407.51zM202.975 72.304c0-30.889 25.158-56.038 56.047-56.038 30.88 0 56.006 25.158 56.006 56.038v38.123H202.975V72.304z' fill='%232d3237'/%3E%3C/svg%3E");
    background-position: 0 0;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.nav-main__tel {
  position: relative;
  display: block;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 500;
  color: $text-dark;
  text-transform: uppercase;
  transition: 180ms;

  &:hover,
  &:focus {
    color: $accent-strong;
  }

  &:active {
    color: rgba($text-dark, 0.1);
  }
}

.nav-main__box-tel {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid $primary-dark;
  background-color: $primary-light;
  top: -63px;
  left: calc(50% - 50px / 2);

  &:hover,
  &:focus {
    background-color: $accent-strong;
  }

  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    top: calc(50% - 26px / 2);
    left: calc(50% - 26px / 2);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480.56 480.56'%3E%3Cpath d='M365.354 317.9c-15.7-15.5-35.3-15.5-50.9 0-11.9 11.8-23.8 23.6-35.5 35.6-3.2 3.3-5.9 4-9.8 1.8-7.7-4.2-15.9-7.6-23.3-12.2-34.5-21.7-63.4-49.6-89-81-12.7-15.6-24-32.3-31.9-51.1-1.6-3.8-1.3-6.3 1.8-9.4 11.9-11.5 23.5-23.3 35.2-35.1 16.3-16.4 16.3-35.6-.1-52.1-9.3-9.4-18.6-18.6-27.9-28-9.6-9.6-19.1-19.3-28.8-28.8-15.7-15.3-35.3-15.3-50.9.1-12 11.8-23.5 23.9-35.7 35.5-11.3 10.7-17 23.8-18.2 39.1-1.9 24.9 4.2 48.4 12.8 71.3 17.6 47.4 44.4 89.5 76.9 128.1 43.9 52.2 96.3 93.5 157.6 123.3 27.6 13.4 56.2 23.7 87.3 25.4 21.4 1.2 40-4.2 54.9-20.9 10.2-11.4 21.7-21.8 32.5-32.7 16-16.2 16.1-35.8.2-51.8-19-19.1-38.1-38.1-57.2-57.1zM346.254 238.2l36.9-6.3c-5.8-33.9-21.8-64.6-46.1-89-25.7-25.7-58.2-41.9-94-46.9l-5.2 37.1c27.7 3.9 52.9 16.4 72.8 36.3 18.8 18.8 31.1 42.6 35.6 68.8zM403.954 77.8c-42.6-42.6-96.5-69.5-156-77.8l-5.2 37.1c51.4 7.2 98 30.5 134.8 67.2 34.9 34.9 57.8 79 66.1 127.5l36.9-6.3c-9.7-56.2-36.2-107.2-76.6-147.7z' fill='%232d3237'/%3E%3C/svg%3E%0A");
    background-position: 0 0;
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.nav-main--closed .nav-main__button {
  display: none;
}

.nav-main--closed .nav-main__social {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .nav-main--closed .nav-main__toggle {
    position: relative;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;

    &::before {
      position: absolute;
      content: "";
      width: 32px;
      height: 32px;
      top: 0;
      left: 0;
      background-image: url("data:image/svg+xml,%3Csvg height='32' width='32' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M4 10h24a2 2 0 000-4H4a2 2 0 000 4zm24 4H4a2 2 0 000 4h24a2 2 0 000-4zm0 8H4a2 2 0 000 4h24a2 2 0 000-4z' fill='%23ecf0f3'/%3E%3C/svg%3E%0A");
      background-position: 0 0;
      background-size: 32px 32px;
      background-repeat: no-repeat;
      background-color: transparent;
    }
  }

  .nav-main--opened .nav-main__toggle {
    position: relative;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    border: none;
    background-color: transparent;

    &::before {
      position: absolute;
      content: "";
      width: 22px;
      height: 22px;
      top: 0;
      left: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 47.971 47.971'%3E%3Cpath d='M28.228 23.986L47.092 5.122a2.998 2.998 0 000-4.242 2.998 2.998 0 00-4.242 0L23.986 19.744 5.121.88a2.998 2.998 0 00-4.242 0 2.998 2.998 0 000 4.242l18.865 18.864L.879 42.85a2.998 2.998 0 104.242 4.241l18.865-18.864L42.85 47.091c.586.586 1.354.879 2.121.879s1.535-.293 2.121-.879a2.998 2.998 0 000-4.242L28.228 23.986z' fill='%232d3237'/%3E%3C/svg%3E");
      background-position: 0 0;
      background-size: 22px 22px;
      background-repeat: no-repeat;
      background-color: transparent;
    }
  }

  .nav-main--closed .nav-menu {
    display: none;
  }

  .nav-main--closed .nav-main__tel {
    display: none;
  }

  .nav-main--opened .nav-main__combobox, {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 25px;
    padding-bottom: 35px;
    background-color: $primary-light;
  }

  .nav-main--opened .nav-main__bar {
    margin-bottom: 15px;
  }

  .nav-main--opened .nav-main__cart,
  .nav-main--nojs .nav-main__cart {
    margin-bottom: 20px;
  }

  .nav-main--opened  .nav-main__list-menu,
  .nav-main--nojs  .nav-main__list-menu {
    margin-bottom: 75px;
  }

  .nav-main--opened .nav-main__tel,
  .nav-main--nojs .nav-main__tel {
    margin-bottom: 25px;
  }

  .nav-main--opened .nav-main__social {
    margin-top: 30px;
  }

  .nav-main--nojs .nav-main__combobox {
    position: static;
    background-color: $primary-light;
    padding-top: 25px;
    padding-bottom: 35px;
  }

  .nav-main--nojs .nav-main__bar {
    margin-bottom: 20px;
  }

  .nav-main--nojs .nav-main__toggle {
    display: none;
  }

  .nav-main--nojs .nav-menu {
    display: block;
  }

  .nav-main--nojs .nav-main__tel {
    display: block;
  }

  .nav-main--nojs .nav-main__button {
    display: block;
  }
  .nav-main--nojs .nav-main__social {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .nav-main__combobox {
    padding-top: 40px;
  }

  .nav-main__container {
    position: relative;
    width: 89.58333333333333%;/*688 / 768*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .nav-main__logo {
    margin-top: 3px;
  }

  .nav-main__logo svg {
    width: 98px;
    height: 20px;
  }

  .nav-main__toggle {
    display: none;
  }

  .nav-main__bar {
    position: relative;
    width: 98px;

    &::before {
      position: absolute;
      content: "";
      width: 262px;
      height: 252px;
      top: 70px;
      left: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 483.85 483.85' fill='%23ECF0F3'%3E%3Cpath d='M471.325 211.856l-56.9-56.9c-23.4-23.4-9.1-48.1 16.4-49.6 42-2.6 65.6-47.4 31.3-84.7-37.3-34.2-81.9-10.7-84.5 31.2-1.6 25.5-26.5 39.9-49.8 16.6l-55.7-55.7c-16.7-16.7-43.8-16.7-60.5 0l-56.4 56.4c-23.4 23.4-48.2 8.9-49.8-16.6-2.6-42-47.6-65.9-84.9-31.6-34.4 37.4-10.5 82.4 31.5 85 25.5 1.6 40 26.5 16.7 49.9l-56.2 56.1c-16.7 16.7-16.7 43.8 0 60.5l55.7 55.7c23.4 23.3 9.5 47.6-16 49.2-42 2.6-65.5 47.3-31.2 84.6 37.3 34.3 81.8 10.9 84.4-31.1 1.6-25.5 26-39.5 49.4-16.2l56.2 56.2c17 17 44.8 17 61.8.1l39.4-39.4 16.9-16.9c22.1-23.1 7.8-47.4-17.4-49-42-2.6-65.8-47.6-31.5-84.9 37.3-34.3 82.3-10.4 84.9 31.6 1.6 25.2 25.8 39.4 48.9 17.3l15.3-15.3 41.2-41.2.2-.2.6-.6c16.7-16.7 16.7-43.8 0-60.5z'/%3E%3C/svg%3E");
      background-size: 262px 252px;
      background-repeat: no-repeat;
      background-position: 0 0;
      opacity: 0.1;
    }
  }

  .nav-main__cart {
    position: absolute;
    top: 45px;
    right: 0;
  }

  .nav-main__tel {
    position: absolute;
    top: 65px;
    right: 100px;
    font-size: 1.8rem;
    font-weight: 700;
    padding-right: 70px;
    color: $text-light;
  }

  .nav-main__box-tel {
    top: -20px;
    left: 168px;
  }
}

@media (min-width: $desktop-width-1152) {
  .nav-main__container {
    width: 92.1875%;/*1062 / 1125*/
  }

  .nav-main__bar {
    &::before {
      display: none;
    }
  }

  .nav-main__logo {
    width: 344px;
    height: 21px;

  }
}

@media (min-width: $desktop-width-1440) {
  .nav-main__container {
    width: 1320px;
  }

  .nav-main__cart {
    top: -11px;
  }

  .nav-main__tel {
    top: 90px;
    right: -2px;
  }

  .nav-main__box-tel {
    top: -16px;
    left: 162px;
  }
}
