.nav-main {
  width: 100%;
}

.nav-main__container {
  width: 87.5%;
  width: 280px;
  outline: 2px solid tomato;
  margin-right: auto;
  margin-left: auto;
}

.nav-main__bar {
  width: 100%;
  outline: 2px solid chartreuse;
  display: flex;
  align-items: center;
}

.nav-main__logo {
  margin-right: 41px;
}

.nav-main__logo img {
  width: 77px;
  height: 33px;
}

.nav-main__combobox {
  width: 100%;
  padding-top: 20px;
}

.nav-main--closed .nav-main__cart,
.nav-main--opened .nav-main__cart {
  position: relative;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: none;
  margin-right: auto;

  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 32px;
    top: calc(50% - 32px / 2);
    left: calc(50% - 25px / 2);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 517.945 517.945'%3E%3Cpath d='M428.51 110.435h-97.193V72.312C331.317 32.441 298.892 0 259.013 0c-39.871 0-72.312 32.441-72.312 72.312v38.123H89.427l-17.818 407.51h374.727l-17.826-407.51zM202.975 72.304c0-30.889 25.158-56.038 56.047-56.038 30.88 0 56.006 25.158 56.006 56.038v38.123H202.975V72.304z' fill='%233C55B3'/%3E%3C/svg%3E");
    background-position: 0 0;
    background-size: 25px 32px;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.nav-main--closed .nav-main__cart {
  background-color: $primary--lightest;
}
.nav-main--opened .nav-main__cart {
  background-color: $accent;
}

.nav-main--closed .nav-main__toggle {
  position: relative;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg height='32' width='32' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M4 10h24a2 2 0 000-4H4a2 2 0 000 4zm24 4H4a2 2 0 000 4h24a2 2 0 000-4zm0 8H4a2 2 0 000 4h24a2 2 0 000-4z' fill='%23ffffff'/%3E%3C/svg%3E");
    background-position: 0 0;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.nav-main--opened .nav-main__toggle {
  position: relative;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;

  &::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 47.971 47.971'%3E%3Cpath d='M28.228 23.986L47.092 5.122a2.998 2.998 0 000-4.242 2.998 2.998 0 00-4.242 0L23.986 19.744 5.121.88a2.998 2.998 0 00-4.242 0 2.998 2.998 0 000 4.242l18.865 18.864L.879 42.85a2.998 2.998 0 104.242 4.241l18.865-18.864L42.85 47.091c.586.586 1.354.879 2.121.879s1.535-.293 2.121-.879a2.998 2.998 0 000-4.242L28.228 23.986z' fill='%2337334B'/%3E%3C/svg%3E");
    background-position: 0 0;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

@media (max-width: $mobile-width-only) {
  .nav-main--closed .nav-menu {
    display: none;
  }

  .nav-main--closed .nav-user {
    display: none;
  }

  .nav-main--opened .nav-main__combobox {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 20px;
    background-color: $background-light;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    outline: 2px solid lime;
  }

  .nav-main--opened .nav-main__bar,
  .nav-main--nojs .nav-main__bar {
    margin-bottom: 30px;
  }

  .nav-main--opened  .nav-main__list-menu,
  .nav-main--nojs  .nav-main__list-menu {
    margin-bottom: 65px;
    outline: 2px solid dodgerblue;
  }

  .nav-main--opened .nav-main__list-user {
    text-align: center;
  }

  .nav-main--nojs .nav-main__combobox {
    position: static;
    background-color: $background-light;
  }

  .nav-main--nojs .nav-main__cart {
    background-color: $accent;
  }
  .nav-main--nojs .nav-main__toggle {
    display: none;
  }

  .nav-main--nojs .nav-menu {
    display: block;
  }

  .nav-main--nojs .nav-user {
    display: block;
  }

}

@media (min-width: $tablet-width) {
  .nav-main__combobox {
    padding-top: 50px;
  }

  .nav-main__container {
    position: relative;
    width: 89.58333333333333%;
    width: 688px;
  }


  .nav-main__bar {
    position: absolute;
    top: 0;
    left: 0;
  }

  .nav-main__logo {
    position: absolute;
    top: -10px;
    left: 0;
  }

  .nav-main__logo img {
    width: 92px;
    height: 40px;
  }

  .nav-main--closed .nav-main__toggle {
    display: none;
  }

  .nav-main__list-menu {
    margin-bottom: 55px;
  }

  .nav-main__cart {
    position: absolute;
    top: 55px;
    left: 93.5%;
  }

}

@media (min-width: $desktop-width) {
  .nav-main__combobox {
    padding-top: 50px;
  }

  .nav-main__container {
    position: relative;
    width: 91.66666666666667%;
    width: 1320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-main__cart {
    position: absolute;
    top: -15px;
    left: 96.5%;
  }
}
