.tabs {
  width: 100%;
}

.tabs__nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $secondary;
}

.tabs__btn {
  width: 50%;
  background-color: $background-light;
  border: 2px solid $primary-light;
  border-radius: 10px 10px 0 0;
  padding: 10px 19px;
  font-size: 1.8rem;
  line-height: 1.2;
	margin: 0;
  color: $text-dark;
	text-transform: uppercase;
  transition: 180ms;
	cursor: pointer;

  &:hover,
  &:focus {
    color: $text-darkness;
    border-right: 2px solid $secondary;
    border-top: 2px solid $secondary;
    border-left: 2px solid $secondary;
  }

  &:active {
    background-color: $primary-light;
    color: rgba($text-dark, 1);
  }
}

.tabs__btn.is-active {
  background-color: $primary-light;
  border-right: 2px solid $secondary;
  border-top: 2px solid $secondary;
  border-left: 2px solid $secondary;

  &:hover,
  &:focus {
    color: rgba($text-dark, 1);
  }

}

.tabs__desc {
  position: relative;
  background-color: $primary-light;
}

.tabs__content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 500ms ease;
  padding: 20px 20px 25px 25px;
  border-top: 2px solid $background-light;
  box-sizing: border-box;
}

.tabs__content.is-active {
  opacity: 1;
}

.tabs__inner {
  height: 100%;
}
.tabs__text {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.2;
  color: $text-darkness;
  text-align: left;

  &--indent {
    margin-bottom: 10px;
  }
}

.tabs__list {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 25px;
  margin-bottom: 10px;
}

.tabs__item {
  position: relative;
  margin-bottom: 15px;

  &::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50px;
    background-color: $accent;
    top: 5px;
    left: -25px;
  }
}

@media (min-width: $tablet-width) {

  .tabs__nav {
    margin-right: 40px;
    margin-left: 40px;
  }

  .tabs__btn {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .tabs__content {
    padding-left: 45px;
    padding-bottom: 30px;
  }

  .tabs__list {
    margin-bottom: 20px;
  }

  .tabs__text {
    font-size: 1.8rem;
  }
}
