$primary--light: #f9feff; /*фон*/
$primary--lightest: #ffffff;  /*фон и текст*/
$primary--dark: #2D1982;
$primary--darken: #37334B;  /*фон*/

$secondary: #3C55B3;
$secondary--dark: #17171B;

$accent: #ffc55a;
