$primary-light: #ecf0f3;
$primary-lightest: #ffffff;
$primary-dark: #2d3237;

$secondary: #544951;
$secondary-darkness: #000000;
$accent: #14d000;
$accent-strong: #FDC315;
$accent-stronger: #ff375b;

$background-light: $primary-lightest;
$background: $primary-dark;
$text-darkness: $secondary-darkness;
$text-dark: $primary-dark;
$text-light: $primary-light;

/*ширина экрана*/
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width-1152: 1152px;
$desktop-width-1440: 1440px;

/*ретина*/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
