$primary--light: #ecf0f3;
$primary--lightest: #ffffff;
$primary: #54c3ea;
$primary--dark: #544951;

$secondary: #272727;

$background--light: $primary--lightest;
$background: $primary;
$text--dark: $secondary;
$text: $primary--dark;

/*ширина экрана*/
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

/*ретина*/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
